<div class="form-bk"><div id="fb-root"></div>
<div class="container" style="width:100%">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<fieldset style="width:347px;margin-left:auto;margin-right: auto;box-shadow: 1px 1px 13px 3px #888888;padding:1px 22px 0px">
	<div id="legend">
				<h4 class="">Create Account</h4>
			</div>
    <div class="social">
        <div class="social-button">
        <a href="/auth/facebook"><img
        src="/assets/facebook3.png" style="width:270px;"/></a>
        </div>
        <div class="social-button">
        <a href="/auth/twitter"><img
        src="/assets/twitter3.png" style="width:270px;"/></a></div>
        <div class="social-button">
         <a href="/auth/google"><img
        src="/assets/google3.png" style="width:270px;"/></a> </div>
      </div>

    <div class="control-group">
  <%= f.text_field :name, :autofocus => true, :class => 'input-xlarge', :placeholder=> "Name"%></div>

   <div class="control-group">
  <%= f.email_field :email, :class => 'input-xlarge', :placeholder=> "Email"%></div>

  <div class="control-group">
  <%= f.password_field :password , :class => 'input-xlarge', :placeholder=> "Password"%></div>

  <div class="control-group">
  <%= f.password_field :password_confirmation, :class => 'input-xlarge', :placeholder=> "Confirm Password"%></div>
  <%= f.hidden_field :role ,:value=>"user" %>
  <div class="form-actions"style="width:0" >
  	<%= f.submit "Sign up To Funny Fake Ads", :class => 'btn btn-success', :style=>"margin-left:-21px; width: 275px" %></div>

  	<div >
<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", new_session_path(resource_name), :style=>"margin-left: 0px; width: 275px; height: 44px;", :class => 'btn btn-primary'%><br />
<% end -%>
</div>
<div>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name),:style=>"margin: left;" %>
</div>
<% end -%>
<% end %>



</fieldset>
</div>
<style>

.social-button{
margin-bottom:10px;
}

input[type]{ height:50px !important;}
.formFooter {
    background: none repeat scroll 0 0 #F0F0F0;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #DADADA;
    clear: both;
    padding: 10px 20px;
}
.form-actions{width:310px;margin:0px;}
</style>
