<div class="form-bk"><div id="fb-root"></div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div  style="text-align: center;box-shadow: 1px 1px 13px 3px #888888;">
    <div style="padding: 10px;">
	    <div id="legend">
				<h4 class="">Create Account</h4>
			</div>
      <div class="social">
        <div class="social-button">
        <a href="/auth/facebook"><img src="/assets/facebook3.png" style="width:270px;"/></a>
        </div>
        <div class="social-button">
        <a href="/auth/twitter"><img src="/assets/twitter3.png" style="width:270px;"/></a></div>
        <div class="social-button">
         <a href="/auth/google_oauth2"><img src="/assets/google3.png" style="width:270px;"/></a> </div>
      </div>
      <div class="sign-up">
        <div class="form-group">
          <%= f.text_field :name, :autofocus => true, :class => 'form-control input-xlarge', :placeholder=> "Name"%>
        </div>
        <div class="form-group">
          <%= f.email_field :email, :class => 'form-control input-xlarge', :placeholder=> "Email"%>
        </div>
        <div class="form-group">
          <%= f.password_field :password , :class => 'form-control input-xlarge', :placeholder=> "Password"%>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, :class => 'form-control input-xlarge', :placeholder=> "Confirm Password"%>
        </div>
      </div>
      <%= f.hidden_field :role ,:value=>"user" %>
  	  <div class="form-group">
      <%= f.submit "Sign up To Funny Fake Ads", :class => 'btn btn-success', :style=>"width: 210px" %>
      </div>
    	<div class="form-group">
        <%- if controller_name != 'sessions' %>
          <%= link_to "Sign in", new_session_path(resource_name), :style=>"width: 210px; height: 44px;", :class => 'btn btn-primary'%><br />
        <% end -%>
      </div>
      <div>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name),:style=>"margin: left;" %>
        <% end -%>
      </div>
    </div>
  </div>
<% end %>
<style>

.social-button{
margin-bottom:10px;
}

input[type]{ height:50px !important;}
.formFooter {
    background: none repeat scroll 0 0 #F0F0F0;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #DADADA;
    clear: both;
    padding: 10px 20px;
}
.form-actions{width:310px;margin:0px;}
</style>
