<%= simple_form_for(@pin, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>
   <div style="float:left;width:auto;margin-bottom:20px;">
 <fieldset style="box-shadow: 1px 1px 13px 3px rgb(136, 136, 136);padding:10px;">
 	<h2><b> Upload a Funny Fake Ad</b></h2>
 <%=f.input :image, label: "Upload an image from your computer" %>
 <%= f.input :image_remote_url, label: "Or enter a Image URL from the web" %>
 <%= f.input :youtube_url, label: "Or enter a Video URL from the web" %>

 <%= f.input :description, as: :text, input_html: { rows: "3"} %>
 <%=f.input :brand, label: "Please enter brand" %>
   <div class="form-actions" style="border-top:0px !important;">
    <%= f.button :submit,"Upload new Fake Ad", class: "btn btn-primary" %>
  </div>
   </fieldset>
</div>
 
   <div style="float:right;width:auto;">
   <fieldset style="box-shadow: 1px 1px 13px 3px rgb(136, 136, 136);padding:10px;">
    <h2><b>Want to make your own Funny Fake Ads?</b></h2>
   	<div class="social-button">
        <a href="https://www.canva.com/" target="_blank"><img
        src="/assets/Canva-Logo.png" /><p>Please click here to make your own Funny Fake Ads</p></a>
        </div>
   	</fieldset></div>
<% end %>
