<div class="container-fluid">
  <div class="row-fluid pin-new">
    <div class="span6">
      <%= simple_form_for(@pin) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :image_file_size, class: "alert alert-error" %>
        <%= f.full_error :image_content_type, class: "alert alert-error" %>
        <div class="pin-box" style="box-shadow: 1px 1px 13px 3px rgb(136, 136, 136); padding-top: 40px;padding: 20px; ">
          <h2><b> Upload a Funny Fake Ad</b></h2>
            <br/>
              <%=f.input :image, label: "Upload an image from your computer" %>
              <%=f.input :image_remote_url, label: "Or enter a Image URL from the web" %>
              <%=f.input :youtube_url, label: "Or enter a Video URL from the web<br/>For YouTube Videos, go to Share and then copy the URL" %>
              <%= f.input :description, as: :text, input_html: { rows: "3"} %>
              <%=f.input :brand , label: "Please enter brand" %>
          <div class="form-actions" >
           <%= f.button :submit, "Upload new Fake Ad", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="span6">
      <div class="pin-box" style="box-shadow: 1px 1px 13px 3px rgb(136, 136, 136); padding: 18px;">
        <h2><b>Want to make your own Funny Fake Ads?</b></h2>
        <div class="canva-button">
          <a href="https://itunes.apple.com/us/app/id477765577" target="_blank">

            <p><b><h3>Annoyed by ads? Change them. Use tinypost.</h3></b></p>
          </a>
          <p style="float:left">Take a photo of a print ad, add your own text and save it to your camera roll. Then upload it to Funny Fake Ads and share it with the offending company. </p>
          <a href="https://itunes.apple.com/us/app/id477765577" target="_blank">
            <img src="/assets/tiny.jpg" width="71" height="71"/>
          </a>
        </div>

        <div class="canva-button">
          <a href="https://www.canva.com/" target="_blank">
            <p><b><h3>More advanced, higher quality image editor</h3></b></p>
          </a>
          Amazingly simple graphic design
        </div>
        <div class="canva-button">
          <a href="https://www.canva.com/" target="_blank">
            <img src="/assets/Canva-Logo.png" style="margin-top: 10px;" />
            <!-- <p><b><h3>Please click here to make your own Funny Fake Ads</h3></b></p> -->
          </a>

          <!-- Amazingly simple graphic design to make professional looking fake ads -->

        </div>
      </div>
    </div>
  </div>
</div>

</div>




