<%=javascript_include_tag 'letsrate'%>
<script>
	$(function(){
	 var $container = $('.masonry-container');

	  $container.imagesLoaded(function(){
	    $container.masonry({
	      itemSelector: '.box',
	       columnWidth: 0,
	       gutterWidth: 0,
           isResizable: false
	    });
	  });
	  var $box = $(html).find('.box');
	  $(".masonry-container").append($box).masonry( 'appended', $box, true );
	  $(".masonry-container").masonry('reload');
	  console.log("Reloaded masonry");
	  loading = false;


	});

</script>
<div class="box">

	<%if !pin.image.blank? %>
	  <%= link_to (image_tag pin.image(:medium)), pin %> 
	<%end%>
 
	<%if !pin.youtube_url.blank? %>
      <div style="text-align:center"><%= link_to youtube_embed_image(pin.youtube_url).html_safe, pin %>
	 	<div ><%= link_to (image_tag "play-button.png",:style=>"width: 35px;margin-top:-21%;margin-right: 84%" ), pin %></div>
	  </div>

	<%end%><br><% if !pin.description.blank?%>
	<p class="description"> <h5><%= pin.description %></h5></p>
	<%end%>
		<% if !pin.brand.blank?%>
		<p class="brand"><strong>Brand:</strong> <%= pin.brand %></p>
		<%end%>
	<b>Rating:</b><%= rating_for pin, "rating" %>

	<div>
		<div id="fb-root"></div>
	
	<script>
	(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
	</script>
		<div style="float: left;">
			<fb:like href="http://www.funnyfakeads.com/pins/<%= pin.id %>" send="false" layout="button_count" show_faces="false"></fb:like>
		</div>
		<div style="float: right;">
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	     <script src="http://connect.facebook.net/en_US/all.js#appId=674362825929827&xfbml=1" type="text/javascript"></script>
			<div class="fb-share-button" data-href="http://www.funnyfakeads.com/pins/<%= pin.id %>" data-type="button">
		</div>
	</div>
</div>
<div style="padding-top:30px">	
		<p>
			<strong>
					<% if  !pin.user.nil? %>
						  Uploaded by <%= link_to pin.user.name, pin.user %>				
				<%end%>
			</strong>		
		</p>		
	</div>
	<%if user_signed_in? %>
		 <% if current_user.has_role? "admin" %>
		 	<p>
			<%= link_to 'Edit', edit_pin_path(pin) %> 
			<%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
		  <% end %>
  <%end%>
</div>
