<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="box">
	<%if !pin.image.blank? %>
  <%= link_to (image_tag pin.image(:medium)), pin %> 
 <%end%>
 
 <%if !pin.youtube_url.blank? %>

 <div style="text-align:center"><%= link_to youtube_embed(pin.youtube_url).html_safe %></div>
 
 	<%if !pin.user.blank? %>
 <%= link_to "View Video", pin %>
 <%end%>

 <%end%>

<p class="description"> <%= pin.description %></p>

<b>Rating:</b> <%= rating_for pin, "rating" %>
<div style="align:center;">
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js#appId=601838723185712&xfbml=1" type="text/javascript"></script>
<fb:like href="http://www.funnyfakeads.com/pins/<%= pin.id %>" send="false" layout="button_count" show_faces="false"></fb:like>
<div class="fb-share-button" data-href="http://www.funnyfakeads.com/pins/<%= pin.id %>" data-type="button">
</div>
</div>
<p>
<strong>
	
<% if user_signed_in? %>

<% if  !pin.user.nil? %>
	  Uploaded by <%= link_to pin.user.name, pin.user %>
	  <%end%>
	 <%end%>
<strong>		
</p>		

 <%if user_signed_in? %>
 <% if current_user.has_role? "admin" %>
 	<p>
	<%= link_to 'Edit', edit_pin_path(pin) %> 
	<%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
  <% end %>
  <%end%>
</div>

	
