<div class="pin-show <%=@relative_pins.empty? ? "" : "span8 ml-sm" %>">
<div class="well"style="width:100%;margin-left:auto;margin-right: auto;padding:auto;padiing-top:auto;" >
  <% if !@pin.image.blank? %>
    <%= image_tag @pin.image, class: "img-responsive" %>
  <% end %>
  <% if !@pin.youtube_url.blank? %>
    <div ><%= youtube_embed(@pin.youtube_url).html_safe%></div>
  <%end%>

  <% if !@pin.description.blank?%>
    <p class="description"><strong> <h3><%= @pin.description %></h3></strong></p>
  <%end%>

  <div style="padding-top: 10px;">
    <% if !@pin.brand.blank?%>
      <p class="brand"><strong><h4>Brand:</h4></strong> <h4 style="margin-top: -29px; margin-left: 69px;"><%= @pin.brand %></h4></p>
    <%end%>
  </div>
    <% if (current_user == @pin.user) || (current_user && (current_user.has_role? "admin"))%>
      <%= link_to 'Edit', edit_pin_path(@pin) %> - 
      <%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <!-- <b>Rating:</b> <%= rating_for @pin, "rating" %>   -->
    <% if  !@pin.user.nil? %>
      <p><strong>Uploaded By - </strong><%= link_to @pin.user.name, @pin.user %></p>
    <%end%>
    <% if  !@pin.created_by.blank? %>
      <p><strong>Created By - </strong><%=@pin.created_by %></p>
    <%end%>

    <div id="fb-root"></div>

    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <div style="float: left;padding-top: 2px; margin-right: 10px;">
      <fb:like href="http://www.funnyfakeads.com/pins/<%= @pin.id %>" send="false" layout="button_count" show_faces="false"></fb:like>
    </div>
    <div >

      <script src="http://connect.facebook.net/en_US/all.js#appId=674362825929827&xfbml=1" type="text/javascript"></script>
      <a title="Share" href="http://www.facebook.com/sharer.php?s=100&p[url]=http://www.funnyfakeads.com/pins/<%= @pin.id %>&p[images][0]=<%= @pin.image.url %>&p[title]=<%= @pin.description %>&p[summary]=<%= @pin.brand %>"  target='_blank'><img src="../assets/share.png" style="border-radius: 0% 0% 0% 0% ! important; height: 21px; width: 61px;"/></a>
      <%= link_to (image_tag "twitter.png",:style=>"border-radius: 0% 0% 0% 0% ! important;width: 26px; height: 23px; margin-top: 0%; margin-left: 0%;"), "http://twitter.com/home?status=#{@pin.description} #{pins_url(@pin)}", :target=>"_blank"%>
    </div>
    <div class="fb-comments" style="width:100%;" data-href="http://www.funnyfakeads.com/pins" data-float="left" data-numposts="1" data-colorscheme="light"></div>

</div>
</div>


<% if !@relative_pins.empty? %>
 <div class="span4 ml-sm">
  <h3 class="relative-ads-title">Related Ads</h3> 
  <ul style="list-style: none">
  <% @relative_pins.each_with_index do |pin, index| %>
    <li>
      <div>
        <% if !pin.image.blank? %>
         <div class="pull-left" style="margin-right: 5px;">
          <%= link_to (image_tag pin.image(:medium),:style=>"height: 80px; width: 120px"), pin%>
          </div>
        <%end%>
        
        <%if !pin.youtube_url.blank? %>
          <div class="pull-left" style="margin-right: 5px;">
            <%= link_to raw("<div style='height: 80px; width: 120px'>" + youtube_embed_image(pin.youtube_url).html_safe + "</div>"), pin %>
            <div style="width: 120px; height: 1px;"><%= link_to (image_tag "play-button.png",:style=>"width: 35px;margin-top:-21%;margin-right: 84%" ), pin %>
            </div>
          </div>
        <%end%>  
        <div style="padding-top:0px;"><% if !pin.description.blank?%>
          <p class="description"> <strong><h3><%= link_to truncate(pin.description, length: 20), pin, class: "pin-href" %></h3></strong></p>
          <%end%>
        </div>
        <% if !pin.brand.blank?%>
          <div>
            <p class="brand"><strong>Brand:</strong> <%= truncate(pin.brand, length: 20) %></p>
          </div>
        <%end%>      
        <% if !pin.created_by.blank?%>
          <div>
            <p class="brand"><strong>Created By:</strong> <%= truncate(pin.created_by, length: 20) %></p>
          </div>
        <%end%>
      </div>
    </li>
    <div style="clear:both"></div>
    <%if index != (@relative_pins.size - 1) %>
      <div style="border-top: 1px dotted gray; margin-top: 10px; margin-bottom: -10px;"></div>
    <%end%>  
    <div style="clear:both"></div>
  <%end%>  
  </ul>   
 </div> 
<% end %>
