<div class="pin-show <%=@relative_pins.empty? ? "" : "span8 ml-sm" %>">
<div class="well"style="width:100%;margin-left:auto;margin-right: auto;padding:auto;padiing-top:auto;" >
  <% if !@pin.image.blank? %>
    <%= image_tag @pin.image, class: "img-responsive" %>
  <% end %>
  <% if !@pin.youtube_url.blank? %>
    <div ><%= youtube_embed(@pin.youtube_url).html_safe%></div>
  <%end%>
  
	<div>		
    <input id="btn-dislike" style="" type="image" src="/assets/unlike.png" class="img-dislike-show" alt="DisLike" data-like="false" data-id="<%= @pin.id %>" >
    <span id="voting-number-<%=@pin.id%>" style="width:30px; height: 18px; font-size: 14px; padding: 0;text-align: center;margin-top:10px;" ><%= @pin.voting.to_i %></span>
		<input id="btn-like" type="image" src="/assets/like.png" class="img-like-show" alt="Like" data-like="true" data-id="<%= @pin.id %>" >				
	</div>
  

  <% if !@pin.description.blank?%>
    <p class="description"><strong> <h3><%= @pin.description %></h3></strong></p>
  <%end%>	

  <% if !@pin.brand.blank?%>
    <p class="brand">
      <strong><h4>Brand:</h4></strong> 
      <h4 style="margin-top: -29px; margin-left: 97px;;"><%= @pin.brand %></h4>
    </p>
  <%end%> 
  <% if @pin.category%>
    <p class="brand">
      <strong><h4 >Category: </h4></strong>
      <h4 style="margin-top: -29px; margin-left: 97px;"><%=@pin.category.name %></h4>
    </p>
  <%end%>
    
  <% if  !@pin.user.nil? %>
    <p class="brand">
      <strong><h5>Uploaded By: </h5></strong>
      <h5 class="uploaded-by" style="margin-top: -25px; margin-left: 97px;"><%= link_to @pin.user.name, @pin.user %></h5>
    </p>
  <%end%>
  <% if  !@pin.created_by.blank? %>
    <p class="brand">
      <strong><h5>Created By: </h5></strong>
      <h5 style="margin-top: -25px; margin-left: 97px;"><%=@pin.created_by %></h5>
    </p>
  <%end%>
  
  <% if (current_user == @pin.user) || (current_user && (current_user.has_role? "admin"))%>
    <%= link_to 'Edit', edit_pin_path(@pin) %> - 
    <%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <div id="fb-root"></div>

    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <div style="float: left;padding-top: 2px; margin-right: 10px;">
      <fb:like href="http://www.funnyfakeads.com/pins/<%= @pin.id %>" send="false" layout="button_count" show_faces="false"></fb:like>
    </div>
    <div >

      <script src="http://connect.facebook.net/en_US/all.js#appId=674362825929827&xfbml=1" type="text/javascript"></script>
      <a title="Share" href="http://www.facebook.com/sharer.php?s=100&p[url]=http://www.funnyfakeads.com/pins/<%= @pin.id %>&p[images][0]=<%= @pin.image.url %>&p[title]=<%= @pin.description %>&p[summary]=<%= @pin.brand %>"  target='_blank'><img src="../assets/share.png" style="border-radius: 0% 0% 0% 0% ! important; height: 21px; width: 61px;"/></a>
      <%= link_to (image_tag "twitter.png",:style=>"border-radius: 0% 0% 0% 0% ! important;width: 26px; height: 23px; margin-top: 0%; margin-left: 0%;"), "http://twitter.com/home?status=#{@pin.description} #{pins_url(@pin)}", :target=>"_blank"%>
    </div>
    <div class="fb-comments" style="width:100%;" data-href="http://www.funnyfakeads.com/pins/<%= @pin.id %>" data-float="left" data-numposts="1" data-colorscheme="light"></div>

</div>
</div>


<% if !@relative_pins.empty? %>
 <div class="span4 ml-sm relative-ads">
  <h3 class="relative-ads-title">Related Ads</h3> 
  <ul style="list-style: none">
  <% @relative_pins.each_with_index do |pin, index| %>
    <li>
      <div>
        <% if !pin.image.blank? %>
         <div class="pull-left" style="margin-right: 5px;">
          <%= link_to (image_tag pin.image(:medium),:style=>"height: 80px; width: 120px"), pin%>
          </div>
        <%end%>
        
        <%if !pin.youtube_url.blank? %>
          <div class="pull-left" style="margin-right: 5px;">
            <%= link_to raw("<div style='height: 80px; width: 120px'>" + youtube_embed_image(pin.youtube_url).html_safe + "</div>"), pin %>
            <div style="width: 120px; height: 1px;"><%= link_to (image_tag "play-button.png",:style=>"width: 35px;margin-top:-21%;margin-right: 84%" ), pin %>
            </div>
          </div>
        <%end%>  
        <div style="padding-top: 0px;padding-left: 125px"><% if !pin.description.blank?%>
          <p class="description"> <strong><h3><%= link_to truncate(pin.description, length: 20), pin, class: "pin-href" %></h3></strong></p>
          <%end%>
        </div>
        <% if !pin.brand.blank?%>
          <div style="padding-top: 0px;padding-left: 125px">
            <p class="brand"><strong>Brand:</strong> <%= truncate(pin.brand, length: 20) %></p>
          </div>
        <%end%>
        <% if pin.category%>
          <div style="padding-top: 0px;padding-left: 125px">
            <p class="brand"><strong>Category:</strong> <%= pin.category.name %></p>
          </div>
        <%end%>      
        <% if !pin.created_by.blank?%>
          <div style="padding-top: 0px;padding-left: 125px">
            <p class="brand"><strong>Created By:</strong> <%= truncate(pin.created_by, length: 20) %></p>
          </div>
        <%end%>
      </div>
    </li>
    <div style="clear:both"></div>
    <%if index != (@relative_pins.size - 1) %>
      <div style="border-top: 1px dotted gray; margin-top: 10px; margin-bottom: -10px;"></div>
    <%end%>  
    <div style="clear:both"></div>
  <%end%>  
  </ul>   
 </div> 
<% end %>

<script>
	$('.img-like-show, .img-dislike-show').unbind();
   $('.img-like-show, .img-dislike-show').on('click',function(){
		$.ajax({
			url:"/pins/update_voting",
			data: $(this).data()
		}).done(function(data){
			if(data.success==true){
				$('#voting-number-' + data.voting_id).text(data.voting_number);
			}else{
				alert(data.notice);
			}
		});
	});	
</script>
