<div class="row" style="width:100%;margin-left:auto;margin-right: auto;">

	<div class="col-md-6" style="width:100%;">
		<div class="well" style="width: auto;" >
			<% if !@pin.image.blank? %>
			<%= image_tag @pin.image, class: "img-responsive" %>
			<% end %>
			<% if !@pin.youtube_url.blank? %>
			<div style="text-align:center"><%= youtube_embed(@pin.youtube_url).html_safe %></div>
			<%end%>

			<% if !@pin.description.blank?%>
			<p class="description"> <h4><%= @pin.description %></h4></p>
			<%end%>

				<% if !@pin.brand.blank?%>
				<p class="brand"><strong>Brand:</strong> <%= @pin.brand %></p>
				<%end%>
			<% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
			<% end %>
			
			
            <!-- <b>Rating:</b> <%= rating_for @pin, "rating" %>	 -->
            <% if  !@pin.user.nil? %>
			<p><strong>Uploaded By-</strong><%= link_to @pin.user.name, @pin.user %></p>
			<%end%>
          <div >
          	<div>
          	<%= link_to (image_tag "twitter.png", :style=>"height: 23px; margin-bottom: -38px; width: 26px; margin-left: 77px;"), "http://twitter.com/home?status=Here's a funny fake ad about #{@pin.brand} #{@pin.description} #{pins_url(@pin)}", :target=>"_blank"%></div>
			<fb:like href="http://www.funnyfakeads.com/pins/<%= @pin.id %>" send="false" layout="button_count" show_faces="false"></fb:like>
			
			<div class="fb-share-button" data-href="http://www.funnyfakeads.com/pins/<%= @pin.id %>&p[title]=<%= @pin.description %>" data-type="button" style="margin-left: 411px;">
			</div>

			<div class="fb-comments" data-href="http://www.funnyfakeads.com/pins/<%= @pin.id %>" data-numposts="1" data-colorscheme="light"></div>
				
			

        </div>

		</div>
	</div>	
</div>



