<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
 
      <div class="navbar-header">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Funny Fake Ads", root_path, class: "navbar-brand" %></li>
       <!--    <li><%= link_to "Home", root_path %></li> 
          <li><%= link_to "About", about_path %></li> -->
          <li><%= link_to "Most Popular Fake Ads" %></li> 
          <li><%#= link_to "Feeds", pins_feed_path() %></li> 
        </ul> 
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.nil? %>
            <%= link_to "Upload or Create New Funny Fake Ad", new_pin_path ,:class=>" btn btn-success" %>
         <% else %>
           <%= link_to "Upload or Create New Funny Fake Ad", new_pin_path,:class=>" btn btn-success" %>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% end %>
      </div>
    </div>
  </div>
</div>