<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">

      <div class="navbar-header">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Funny Fake Ads", root_path, class: "navbar-brand" %>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

       <!--    <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li> -->
          <li><%= link_to "Most Popular Fake Ads",root_path, class: "padding-top-desktop-15" %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">        
          <li>            
            <form id="searchForm" action="/pins/search" method="get">
              <input type="textbox" name="search" placeholder="Search here.." value="<%= params[:search] %>" class="form-control input-xlarge navbar-right margin-top-desktop-7-custom search-textbox">
              <input type="submit" class="search-btn" value=""/>
            </form>
            
          </li>  
         <% if current_user.nil? %>
            <%= link_to "Upload or Create New Funny Fake Ad", new_pin_path ,:class=>" btn btn-success navbar-right margin-top-desktop-7 btn-signin" %>
         <% else %>
         
         <li><button type="submit" class="btn btn-success margin-top-desktop-7"><%= link_to "Upload or Create New Funny Fake Ad", new_pin_path%></button></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path , class: "padding-top-desktop-15"%></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "padding-top-desktop-15" %></li>


          <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
