<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
 
      <div class="navbar-header">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <%= link_to "Funny Fake Ads", root_path, class: "navbar-brand" %>
          <li><%= link_to "Home", root_path %></li> 
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Top Fake Ads", top_pins_path %></li> 
        </ul> 
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.nil? %>
            <li><%= link_to "Upload New Funny Fake Ad", new_user_session_path %></li>
         <% else %>
            <li><%= link_to "Add New Funny Fake Ads", new_pin_path %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% end %>
      </div>
    </div>
  </div>
</div>