<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
    <%= auto_discovery_link_tag :atom, "/pins_feed" %>
    <%= auto_discovery_link_tag :rss, "/pins_feed.rss" %>
    <%= auto_discovery_link_tag :rss, "/pins.rss" %>
    <%= auto_discovery_link_tag :rss, "/feed.rss" %>
    <%= auto_discovery_link_tag :rss, "/pins" %>

  
    <title>Funny Fake Ads</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">


    <script src="../assets/jquery.infinitescroll.min.js"></script>
    <script src="../assets/jquery.infinitescroll.js"></script>       
    <script src="../assets/letsrate.js" type="text/javascript"></script>

		<!-- Latest compiled and minified JavaScript -->
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(100675551); }catch(e){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100675551ns.gif" /></p></noscript>


  </head>

  <body>

  	<%= render 'layouts/header' %>

  	<div class="container">

  		<%flash.each do |name, msg| %>
				<%= content_tag(:div, class: "alert alert-dismissable alert-info") do -%>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= msg %>
        <% end -%>
			<% end %>
			
			<%= yield %>

    </div><!-- /.container -->

    <%= render 'layouts/footer' %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    -->
  </body>
</html>